<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/movieDetail.js" defer></script>
</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1> </h1>    
    <br>
    <p>CALIFICACIÓN:  </p>
    <p>PREMIOS:  </p>
    <p>DURACIÓN:  </p>
    <p>FECHA DE CREACIÓN:  </p>
    <br>
    <section>
        <a class="botonModificar" href="/movies/edit/100">Modificar</a>
        <a class="botonBorrar" href="/movies/delete/100">Borrar</a>
        <a class="botonVolver" href="/movies">Listado de Películas</a>
    </section>

</body>
</html>